{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

 


<div class="container px-4 py-1" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Agendar Gym</h2>
  <div class="row g-1 py-2 row-cols-1 row-cols-lg-1">

    <form action="" method="POST">
      {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-dark">agregar</button>
    </form>
     
    
    </div>
  </div>
</div>


  
{% endblock content %}