{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<section class="container">

    <table class="table table-bordered table-hover table-dark table-striped">
        <thead>
          <tr>
            <th>Numero</th>
            <th>Categoria</th>
            <th>Estado</th>
            <th>Distinciones</th>
            <th>Estado</th>
            <th>Piso</th>
          </tr>
        </thead>
        <tbody>
          
            {% for x  in rooms %}


            <tr>
            <td> {{x.numero}} </td>
            <td> {{x.category}}  </td>
            <td> {{x.estado}} | <a href=" {%url 'update' x.id%} " class="btn btn-primary btn-sm">editar</a> </td>
            <td> {{x.distinciones}} </td>
            <td> {{x.numero}} </td>
            <td> {{x.piso}} </td>
            </tr>
            
            {% endfor %}
        </tbody>
      </table>

</section>

  
{% include "habitaciones/paginator.html" %}

{% endblock content %}